<footer>
  <a href="#home">
    <img class="logo-schrift" src="./assets/img/footlogo_schrift.png" alt="" />
  </a>
  <div>
    <a class="imprint" href="imprint">Imprint</a>
  </div>
  <div class="social-media">
    <a href="#"
      ><img
        class="social-medial-img-1 hide-mobile-social-medial"
        src="./assets/img/tripadvisor.png"
        alt=""
    /></a>
    <a href="#"
      ><img
        class="social-medial-img-2 hide-mobile-social-medial"
        src="./assets/img/facebook.png"
        alt=""
    /></a>
    <a href="#"
      ><img
        class="social-medial-img-3 hide-mobile-social-medial"
        src="./assets/img/instagrram.png"
        alt=""
    /></a>
  </div>
</footer>
