//@import './../../../../styles.scss';
$c: center;
$dark_red: rgb(139, 0, 0);
$white: white;

@mixin borderStyling($bStyle){
    border-radius: 8px;
    border: 2px $bStyle $white;
}

@mixin dFlex($jc: center, $ai: center, $g: 0px){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

nav {
    background-image: url("/assets/img/Hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    padding: 0 40px;

   
    @include dFlex($jc:space-between);
   

  
  
   // @include borderStyling(dotted);

    >img {
        width: 64px;
        height: 64px;
        
    }

    >div {
        @include dFlex($g: 16px);

        >a {
            &:nth-child(1) {
               color: aqua;
            }


            &:hover {
                color: red;
            }
        }
    }
}

/* --------- */

a {
    text-decoration: none;
    color: $white;
    font-family: 'Raleway';
  
}

/* ---------------- */

/* ---------------- */

.phone_btn {
   background-color: $dark_red;
@include borderStyling(solid);
   display: flex;
   padding: 8px;
   align-items: center;
   gap: 8px;
   cursor: pointer;
   

   &:hover {
  
    background-color: rgb(220, 0, 0);
   }
    >img {
        @include borderStyling(dotted);
        width: 24px;
        height: 24px;
       
    }
}

