<section class="our-menu">
  <h2 class="our-menu-h2" id="our-menu">OUR MENU</h2>
  <div class="our-menu-flex our-menu-position-1">
    <div class="img-1">
      <img class="our-menu-tab" src="./assets/img/om_r1.png" alt="" />
    </div>
    <table class="img-13">
      <thead>
        <tr>
          <th class="economica-tab">Tonkatsu Ramen</th>
        </tr>
      </thead>
      <tbody>
        <tr class="raleway-32-tab">
          <td>CHICKEN</td>
          <td>11.95 €</td>
        </tr>
        <tr class="raleway-32-tab">
          <td>BEEF</td>
          <td>12.95 €</td>
        </tr>
        <tr class="raleway-32-tab">
          <td>SHRIMP</td>
          <td>13.95 €</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="our-menu-flex our-menu-position-2 menu1">
    <div class="img-2">
      <img class="our-menu-tab" src="./assets/img/om_r2.png" alt="" />
    </div>
    <table>
      <thead>
        <tr>
          <th class="economica-tab">Spicy Miso Ramen</th>
        </tr>
      </thead>
      <tbody>
        <tr class="raleway-32-tab">
          <td>CHICKEN</td>
          <td>11.95 €</td>
        </tr>
        <tr class="raleway-32-tab">
          <td>BEEF</td>
          <td>12.95 €</td>
        </tr>
        <tr class="raleway-32-tab">
          <td>SHRIMP</td>
          <td>13.95 €</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="our-menu-flex our-menu-position-3">
    <div class="img-3">
      <img class="our-menu-tab" src="./assets/img/om_r3.png" alt="" />
    </div>
    <table>
      <thead>
        <tr>
          <th class="economica-tab">Shio Ramen</th>
        </tr>
      </thead>
      <tbody>
        <tr class="raleway-32-tab">
          <td>CHICKEN</td>
          <td>11.95 €</td>
        </tr>
        <tr class="raleway-32-tab">
          <td>BEEF</td>
          <td>12.95 €</td>
        </tr>
        <tr class="raleway-32-tab">
          <td>SHRIMP</td>
          <td>13.95 €</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
